.text{
    position:relative;
    margin-left:1.2rem;
    padding:2rem;
}
.text button{
    position:absolute;

    padding:7px 25px;
    font-size:1rem;
    border:none;
    outline:none;
    color:#fff;
    background:rgb(248, 177, 70);
    box-shadow:0 2px 4px rgb(248, 177, 70);
    border-radius:2px;
    font-family:'Alata', sans-serif;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 345px;
    /* padding: 3rem; */
}
      

.meal-img {
    /* width: 50%;  */
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
      
.menu-card{
    background-color: #fff;
}
.menuItem{
    font-size: 1rem;
}
.rightText{
    text-align: right;
    color: #485D67;
} 


