.layer-two{
    position:absolute;
    height:100%;
    background:#fff;
    transition:.5s ease;
}
.layer-two{
    top:0;
    right:0;
    width:240px;
    clip-path:polygon(20% 0,100% 0,100% 100%,0 100%);
    transform:translateX(250px);
}
/* input{
    display:none;
} */
/* label{
    position:absolute;
    top:10px;
    left:20px;
    font-size:1.1rem;
    color:#e0e0e0;
} */
input:checked + label{
    color:#fec331;
}
.text{
position:relative;
    margin-left:1.2rem;
    padding:.2rem;
    height:130px;
}
.text button{
    position:absolute;
    /* right:10px;
    bottom:10px; */
    padding:7px 25px;
    font-size:1rem;
    border:none;
    outline:none;
    color:#fff;
    background:rgb(248, 177, 70);
    box-shadow:0 2px 4px rgb(248, 177, 70);
    border-radius:2px;
    font-family:'Alata', sans-serif;
}
/* .container:hover .layer-one{
    transform:translateX(0);
}
.container:hover .layer-two{
    transform:translateX(0);
} */
/* .container{
    position:absolute;
    top:18%;
    left:25%;
    transform:translate(-50%,-50%);
        width:330px;
        height:150px;    background:url("../../Images//Component\ 17.png") center/cover;
        box-shadow:0 5px 10px rgba(0,0,0,.2);
        border-radius:5px;
        overflow:hidden;
    }
    .rightText{
        text-align: right;
        color: #485D67;
    } */




    /* .grid {
        display: grid;
        column-gap: 6.4rem;
        row-gap: 9.6rem;
      }
      
      .grid--3-cols {
        grid-template-columns: repeat(3, 1fr);
      }
      
      .margin-right-md {
        margin-bottom: 4.8rem !important;
      }
      
      strong {
        font-weight: 500;
      } */
      /* FOOD SECTION */
.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    display: flex;
}
      

.meal-img {
    width: 47%; 
    height: 260px;
    object-fit: cover;
}
      
.menu-card{
    background-color: #fff;
}
.menuItem{
    font-size: 1rem;
}
.rightText{
    text-align: right;
    color: #485D67;
} 