.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #24a1e9;
}
.app-sidebar__heading {
  color: #24a1e9;
}
.search-wrapper .input-holder .search-icon span::before {
  background: #24a1e9;
}
.search-wrapper .input-holder .search-icon span::after {
  border: 2px solid #24a1e9;
}
.search-input {
  min-width: 20vw;
  height: 40px;
}
.cardp {
  height: 500px;
  /* overflow-y: scroll; */
}
.rightL,
.leftL {
  width: 50%;
}
.map {
  margin-top: -5.5%;
  width: 100%;
}
.title {
    color: #c4c3ca;
  font-size: 4rem;
  text-align: left;
  padding-left: 10rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
  font-weight: 700;
}
.pdesc {
  padding-left: 10rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #c4c3ca;
}
.button {
  border: none;
  padding: 1rem;
  font-weight: 700;
  color: #c4c3ca;
  border-radius: 0.7rem;
  margin-left: 10rem;
  margin-top: 2rem;
  width: 12rem;
}
.landingpage{
  /* background-color: #1f2029; */
  height: 100vh;
  color: #c4c3ca;
}


/* register */
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #24a1e9;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
  color: #24a1e9;

	background: #f1f4f6;
}
.full-height{
  min-height: 100vh;
}
.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: white;
  /* background-image: url('./Images//Component\ 14.png'); */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #000000;
  /* background-color: #1f2029; */
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #24a1e9;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn2{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #24a1e9;
  color: white;
  box-shadow: 0 8px 24px 0 #24a1e9;
}
.btn2:active,
.btn2:focus{  
  background-color: #9eaeb1;
  color: #24a1e9;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn2:hover{  
  background-color: #9eaeb1;
  color: #000000;
  box-shadow: 0 8px 24px 0 #9eaeb1;
}

.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}
.card11{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,.03), 0 0.9375rem 1.40625rem rgba(4,9,20,.03),
   0 0.25rem 0.53125rem rgba(4,9,20,.05);
}
.getstarted{
  border: none;
}





.import {
  color: white;
  width: 6rem;
  margin-left: 0.5rem;
  background-color: #228edb;
  display: flex;
}
.fileUpload {
  background: #00bcbe;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1em;
  text-align: center;
  /* font-weight: bold; */
  /* margin: 0.5em; */
  margin-left: 0.5rem;
  overflow: hidden;
  /* padding: 0.4em; */
  margin-bottom: 0.5rem;
  position: relative;
  text-align: center;
  width: 48px;
  /* width: 65px; */
  cursor: pointer;
}
.fileUpload:hover,
.fileUpload:active,
.fileUpload:focus {
  background: #00a2a4;
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.btn_app{
  width: 80%;
  padding: 0.5rem;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 0.3rem;
}
.approve{
  background-color: rgb(7, 116, 7);
}
.reject{
  background-color: rgb(165, 15, 15);
}
.big{
  font-size: 1.1rem;
  font-weight: 600;
}
.activate{
  background-color:#00c6f8;
  color:white;
  padding: 0.7rem;
}
.item_s{
  /* background-color: #fcfcfc; */
  height: 2.5rem;
}


/* 404 page not found */

.error {
  color: #c3cdc5;
  text-align: center;
  animation: fadein 1.2s ease-in;
}
.error > .code {
  font-size: 10.5em;
  text-shadow:  0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  margin: 0;
}
.error > .desc {
  text-shadow: 0px 3px 5px rgba(0,0,0,0.5), 0px 6px 20px rgba(0,0,0,0.3);
  font-weight: 400;
}
@keyframes fadein {
  0% {
    margin-top: -50px;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.pageNotFound{
  height: 100vh;
  position: fixed;
  width: 100%;
background-image: url('./Images/tamas-tuzes-katai-rEn-AdBr3Ig-unsplash\ \(1\).jpg');
background-position:center;
background-repeat:no-repeat;
background-size: cover;
}
.btn0{
  background-color: #274e33;
  margin-top: 1%;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  /* padding: 3px; */
}
.btn0:hover{
 color: #d13821;
 background-color:  #c3cdc5;
}
.square {
  width: 8px;
  height: 8px;
  margin: auto;
}
.progress{
  background-color: white;
}

.user-profile{
  margin-left: 75%;
}
.left{
  width: 50%;
}
.app-header__logo{
  width: 100%;
}
.right{
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 40px;
}


/* .box {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-80%);
} */
/* 
.notifications:hover {
  width:300px;
  height:60px;
  text-align:left;
  padding:0 15px;
  background:#24a1e9;
  transform:translateY(-20%);
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
} */

.notifications .num {
  position:absolute;
  top:5px;
  width:20px;
  height:20px;
  border-radius:50%;
  background:rgb(247, 51, 126);
  color:#fff;
  line-height:22px;
  font-family:sans-serif;
  text-align:center;
}

/* .notifications:hover .num {
  position:relative;
  background:transparent;
  color:#fff;
  font-size:24px;
}
.notifications:hover .num:after {
  content:' Notifications';
} */
/* .ul_list {
  position:absolute;
  left:0;
  margin:0;
  width:100%;
  background:#fff;
  box-shadow:0 5px 15px rgba(0,0,0,.5);
  padding:20px;
  box-sizing:border-box;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  display:none;
} */
/* .notifications:hover ul {
  display:block;
} */
/* .ul_list li {
  list-style:none;
  border-bottom:1px solid rgba(0,0,0,.1);
  padding:8px 0;
  display:flex;
}
.ul_list li:last-child {
  border-bottom:none;
}
.ul_list li .icon {
  width:24px;
  height:24px; 
  background:#ccc;
  border-radius:50%;
  text-align:center;
  line-height:24px;
  margin-right:15px;
} */

/* .ul_list li .text {
  position:relative;
  font-family:sans-serif;
  top:3px;
  cursor:pointer;
}
.ul_list li:hover .text {
  font-weight:bold;
  color:#24a1e9;
} */
.fc-event, .fc-event-dot {
  background-color: #234394;
}


.titlle:hover{
  color: #000000;
}

.Event_title:hover .edit {
	display: block;
}
.edit {
	padding-top: 3px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
  color: #000000;
}


.row{
  cursor:default;
}
.vertical-nav-menu li{
  cursor:pointer;
}
.complaint_cards li{
  list-style: none;
}
.complaint_cards{
  padding: 0;
}
/* Regular input field style */
.input-field {
  border: 1px solid #ccc;
}

/* Error input field style with red border */
.input-field-error {
  border: 1px solid red;
}

.table-responsive::-webkit-scrollbar { 
  display: none; 
}
.cardp::-webkit-scrollbar { 
  display: none; 
}
.bday{
  background: linear-gradient(to right, #30b0d0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* profile */
.profile-card {
  width: 520px;
  overflow: hidden;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px #111;
}
.top-section {
  padding: 60px 40px;
  /* background: #2c2c54aa; */
}
.message,
.notif {
  position: absolute;
  top: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff50
}
.message {
  right: 40px;
}
.notif {
  left: 40px;
}
.message:hover,
.notif:hover {
  color: #f1f1f1;
}
.pic {
  width: 150px;
  height:150px;
  margin: auto;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 8px;
  position: relative;
}
.pic:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #fff;
  left: 0;
  top: 0;
  border-radius: 50%;
  box-sizing: border-box;
  animation: wave 1.5s infinite linear;
}
@keyframes wave{
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.name {
  color: #f1f1f1;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.tag {
  font-size: 18px;
  color: #fff;
}
.bottom-section {
  background: #f1f1f1;
  padding: 60px 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centre;
  /* text-transform: uppercase; */
  font-size: 20px;
}
.bottom-section span {
  font-size: 14px;
  display: block;
}
.border {
  width: 1px; 
  height: 20px;
  background: #bbb;
  margin: 0 20px;
}
